
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container">
    <h1 class="text-center mt-5 mb-5">Employee Management System</h1>

<table class="table border">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Adrress
            </th>
            <th>
                Dob
            </th>
            
            <th>
                Phone
             </th><th>
                Role
             </th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{address}}</td>
            <td>{{dateob}}</td>
            <td>{{phone}}</td>
            <td>{{role}}</td>
  
        </tr>
    </thead>
    <tbody>
       

        
    </tbody>
</table>
<button class="btn btn-light" routerLink="">Home</button>
<!-- <a style="margin-left: 600px;" href="">Home</a> -->


</div>